html, body
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: 'Lato', sans-serif;
    background-color: #b2d8a1;
}

a
{
    text-decoration: none;
}

h1
{
    font-size: 46;
}

h2
{
    font-size: 28px;
    margin: 0;
}

h3
{
    font-size: 12px;
    color: #222121;
    font-weight: 100;
    font-style: italic;
}

p
{
    font-size: 16px;
}

.head
{
    margin: 0px auto;
    position: absolute;
}

.head p
{
    color: #143116;
    font-weight: 100;
    text-align: left;
}

.top-nav
{
    display: block;
}

.top-nav ul
{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 6%;
    top: 2%;
}

.top-nav ul li
{
    display: inline-block;
    margin-left: 28px;
}

.top-nav ul li a
{
    color: #161616;
    text-decoration: none;
    font-size: 20px;
}

.top-nav ul li a:hover
{
    color: #0a1a0b;
    transition: 0.15s ease-in;
}

.index
{
    height: 100%;
    width: 100%;
}

.index_container
{
    position: relative;
    width: 80%;
    margin: 0px auto;
    padding: 10px 20px;
    text-align: center;
    top: 15%;
}

.index_container h1
{
    margin: 0;
    font-weight: 1000;
}

.index_container h2
{
    margin: 0;
    font-weight: 100;
}

.textButton
{
    width: 180px;
    height: 28px;
    border: 1px solid #0a1a0b;
    background-color: #0a1a0b;
    color: #ffffff;
    font-size: 20px;
    margin: 20px 0px 0px 20px;
}

#about
{
    width: 98%;
    margin: 0px 20px;
    text-align: left;
}

#history
{
    width: 98%;
    margin: 0px 20px;
    text-align: left;
}

#contacts
{
    width: 98%;
    margin: 0px 20px;
    text-align: left;
}

#contacts p
{
    font-style: italic;
}

.container_center
{
    position: relative;
    width: 90%;
    margin: 0px auto;
    padding: 10px 20px;
    top: 15%;
}

.container_center h1
{
    text-align: center;
}

.create_post
{
    padding: 5px 10px;
    font-size: 18px;
    color: #ffffff;
    background-color: #0a1a0b;
    border: 1px solid #0a1a0b;
}

.create_post:hover
{
    background-color: #153618;
    transition: 0.20s ease-in-out;
}

.change
{
    padding: 5px 10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #0a1a0b;
    border: 1px solid #0a1a0b;
    float: left;
}

.change:hover
{
    background-color: #153618;
    transition: 0.20s ease-in-out;
}

.delete
{
    margin: 0px auto;
    padding: 5px 10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #af0f0f;
    border: 1px solid #af0f0f;
    float: right;
}

#posts_container
{
    border-bottom: 1px solid #dcdcdc;
    padding: 40px 0px;
    text-align: left;
    margin: 20px auto;
}

.form_item input, textarea
{
    width: 600px;
    margin: 10px 0px;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    background-color: #f5f5f5;
    padding: 8px;
    font-size: 18px;
    color: #666;
}

.form_item input
{
    height: 30px;
}

textarea
{
    height: 400px;
}

.form_item input, textarea::placeholder
{
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
}

.invalidFeedback
{
    color: #ff0000;
    display: block;
}

.container_data
{
    width: 80%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 15%;
}

.container_data h2
{
    font-size: 20px;
    padding: 20px 0px 0px 0px;
}

.wrapper_data
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.wrapper_data input
{
    width: 300px;
    height: 26px;
    border: 1px solid #0a1a0b;
    background-color: #f5f5f5;
    font-size: 14px;
    display: block;
    position: relative;
    margin: 20px auto;
}

.wrapper_data input::placeholder
{
    color: #424242;
    font-size: 14px;
}


#search {
    width: 150px;
    height: 30px;
    border: 1px solid #0a1a0b;
    background-color: #0a1a0b;
    color: #ffffff;
    font-size: 20px;
    margin: 0px 0px 20px 0px;
}

#search:hover {
    border: 1px solid #205024;
    background-color: #205024;
    transition: 0.15s ease-in;
}

#trail_item
{
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 20px 0px 0px 0px;
}

#currencies_item
{
    width: 40%;
    margin: 0 auto;
    position: relative;
    padding: 20px 0px 0px 0px;
}

table, td, th
{
    border: 1px solid black;
}

table
{
    border-collapse: collapse;
    width: 100%;
}

tr
{
    text-align: left;
}

td
{
    padding: 2px 5px;
}

th
{
    padding: 2px 5px;
    width: 50%;
}

.container_login
{
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 20%;
}

.wrapper_login
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.wrapper_login input
{
    width: 200px;
    height: 26px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    font-size: 18px;
    display: block;
    position: relative;
    margin: 20px auto;
}

.wrapper_login input::placeholder
{
    color: #a1a1a1;
    font-size: 14px;
}

#submit
{
    width: 200px;
    height: 42px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}

#submit:hover
{
    border: 1px solid #a1a1a1;
    background-color: #a1a1a1;
    transition: 0.15s ease-in;
}

.options a
{
    color: #006400;
}

.options a:hover
{
    color: #000000;
    transition: 0.20s ease-in;
    text-decoration: none;
}